page-login{

    *{
        font-family: Segoe UI;
    }
    
    .background-color-1 {
        background-color: #B0D5B0;  
    }
    
    .logo{
        margin: 0 auto;
        display: block;
        width: 60%;
        height: 60%;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    
    .welcome{  
        font-family: Britannic;
        color: white;
    }
    
    .item{
        margin-bottom: 10px;
        background: rgb(255, 255, 255);
        border: medium none;
        border-radius: 30px;
        height: 30px;;
    }

    p {
        color: white;
    }
    
}